/* ==============
Variables
=============== */
:root {
  --font-large: 4rem;
  --font-medium: 2rem;
  --font-small: 1.6rem;
  --radius-large: 20px;
  --radius-medium: 12px;
  --radius-small: 6px;
  --c-red: rgb(235, 83, 83);
  --c-red-light: rgb(237, 110, 110);
  --c-white: whitesmoke;
}
/* ===============
Basic reset
================= */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: var(--font-small);
  font-weight: 400;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("bg-img.jpg");
  background-size: cover;
  background-position: center;
}
/* =============
Registration card
============== */
.reg-card {
  padding: 4rem;
  border-radius: var(--radius-large);
  background: transparent;
  border: 1px solid var(--c-white);
  backdrop-filter: blur(60px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.reg-card__title {
  text-align: center;
  margin-bottom: 3.6rem;
  font-size: var(--font-large);
}
.reg-form {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* ================
Input box
================ */
.reg-form__input-box {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.reg-form__label {
  font-size: var(--font-medium);
}
.reg-form__input {
  padding: 1rem 2rem;
  font-size: var(--font-small);
  border-radius: var(--radius-small);
  outline: none;
  background-color: antiquewhite;
  border: 1px solid black;
}

/* ===============
Radio button
================= */
.radio-buttons__title {
  margin-bottom: 1.6rem;
  font-size: var(--font-medium);
  font-weight: 600;
}
.radio-buttons {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.radio-button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.radio-button label {
  font-size: 1.6rem;
  cursor: pointer;
}
.radio-button input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1.4px solid black;
  cursor: pointer;
}
.radio-button input[type="radio"]:hover {
  transition: all 0.3s ease;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.radio-button input[type="radio"]:checked {
  background-color: #007bff;
}

/* ================
Button
=================== */
.reg-form__button-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: var(--radius-small);
  color: var(--c-white);
  font-size: 1.8rem;
  cursor: pointer;
}
.btn.btn--cancel {
  background-color: var(--c-red);
}
.btn.btn--cancel:hover {
  background-color: var(--c-red-light);
}
.btn.btn--submit {
  background-image: linear-gradient(to right bottom, #446fa7, rgb(73, 8, 177));
}
.btn.btn--submit:hover {
  background-image: linear-gradient(to right bottom, #4908b1, #446fa7);
}
